<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Icube\Snapmigs\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="snapmigs" xsi:type="const">Icube\Snapmigs\Model\Snapmigs::SNAPMIGS_PAYMENT_CODE</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="snapmigs_config_provider" xsi:type="object">Icube\Snapmigs\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>