<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <snap>
                <active>0</active>
                <title>Payment via Midtrans</title>
                <!-- <login_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <pass_word_1 backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <pass_word_2 backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <order_status>pending</order_status>
                <instructions>You will be redirected to Midtrans Page.</instructions>
                <payment_action>true</payment_action>
                <is_production>0</is_production>
                <is_3ds>1</is_3ds>
                <custom_expiry>120 minute</custom_expiry>
                <model>Icube\Snap\Model\Snap</model>
                <group>offline</group>
            </snap>
        </payment>
    </default>
</config>
